<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.thinkpattern.mappers.NoticeBoardMapper">
	
	<insert id="insert">
		insert into noticeboard (idx, title, contents, counts, crea_dtm, userid)
		values(SEQ_NOTICEBOARD_IDX.NEXTVAL, #{title}, #{contents}, #{counts}, sysdate, #{userid})
	</insert>

	<select id="read" resultType="kr.co.thinkpattern.vo.NoticeBoardVO">
		select idx, title, contents, userid
		from noticeboard
		where idx = #{idx}
	</select>
	
	<update id="update">
		update noticeboard set title=#{title}, contents=#{contents}, userid=#{userid}
		where idx = #{idx}
	</update>
	
	<delete id="delete">
		delete from noticeboard where idx=#{idx}
	</delete>

	<select id="listAll" resultType="kr.co.thinkpattern.vo.NoticeBoardVO">
		select idx, title, contents, counts, crea_dtm, userid
		from noticeboard
		order by idx desc, crea_dtm desc
	</select>
	
	<select id="selectById" resultType="kr.co.thinkpattern.vo.NoticeBoardVO">
		SELECT IDX ,TITLE, CONTENTS, COUNTS,
		CREA_DTM, USERID
		FROM noticeboard
		WHERE IDX = #{idx}
	</select>
	
	<update id="updateCounts">
		update noticeboard set COUNTS = COUNTS+1 WHERE IDX = #{idx}
	</update>
	
	<select id="selectPage" resultType="kr.co.thinkpattern.vo.NoticeBoardVO">
		SELECT IDX ,TITLE, COUNTS, CREA_DTM, USERID
		FROM (
		SELECT A.*, ROWNUM AS
		RNUM, FLOOR((ROWNUM-1)/10+1) AS PAGE
		FROM (
		(SELECT * FROM noticeboard
		<where>
			<if test="srchType==1">AND title like '%'||#{srchText}||'%' </if>
			<if test="srchType==2">AND contents like '%'||#{srchText}||'%' </if>
			<if test="srchType==3">AND userid=#{srchText} </if>
		</where>
		ORDER BY CREA_DTM DESC)
		) A
		) WHERE PAGE = #{currentPage}
	</select>

   <select id="selectCount" resultType="int">
     SELECT COUNT(*) FROM
		noticeboard
		<where>
			<if test="srchType == 1">AND title like '%'||#{srchText}||'%'</if>
			<if test="srchType == 2">AND contents like '%'||#{srchText}||'%' </if>
			<if test="srchType == 3">AND userid=#{srchText} </if>
		</where>
   </select>
	
	
</mapper>