.w3-navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden
}

.w3-navbar li {
	float: left
}

.w3-navbar li a, .w3-navitem {
	display: block;
	color: #ffffff;
}

.w3-navbar
 
.w3-dropdown-hover, .w3-navbar
 
.w3-dropdown-click {
	position: static
}

.w3-navbar
 
.w3-dropdown-hover
:hover, .w3-navbar
 
.w3-dropdown-hover
:first-child, .w3-navbar
 
.w3-dropdown-click
:hover {
	background-color: #ccc;
	color: #000
}

.w3-navbar
 
a, .w3-topnav
 
a, .w3-sidenav
 
a, .w3-dropdown-content
 
a, .w3-accordion-content
 
a, .w3-dropnav
 
a {
	text-decoration: none !important
}

.w3-navbar
 
.w3-opennav
.w3-right {
	float: right !important
}

.w3-topnav {
	padding: 8px 8px
}

.w3-topnav
 
a {
	padding: 0 8px;
	border-bottom: 3px solid transparent;
	-webkit-transition: border-bottom .3s;
	transition: border-bottom .3s
}

.w3-topnav
 
a
:hover {
	border-bottom: 3px solid #fff
}

.w3-topnav
 
.w3-dropdown-hover
 
a {
	border-bottom: 0
}

.w3-opennav, .w3-closenav {
	color: inherit
}

.w3-opennav
:hover, .w3-closenav
:hover {
	cursor: pointer;
	opacity: 0.8
}

.w3-btn, .w3-btn-floating, .w3-dropnav
 
a, .w3-btn-floating-large, .w3-btn-block, .w3-hover-shadow,
	.w3-hover-opacity, .w3-hover-opacity-off, .w3-navbar
 
a, .w3-sidenav
 
a, .w3-pagination
 
li
 
a, .w3-hoverable
 
tbody
 
tr, .w3-hoverable
 
li, .w3-accordion-content
 
a, .w3-dropdown-content
 
a, .w3-dropdown-click
:hover, .w3-dropdown-hover
:hover, .w3-opennav, .w3-closenav, .w3-closebtn, .w3-hover-amber,
	.w3-hover-aqua, .w3-hover-blue, .w3-hover-light-blue, .w3-hover-brown,
	.w3-hover-cyan, .w3-hover-blue-grey, .w3-hover-green,
	.w3-hover-light-green, .w3-hover-indigo, .w3-hover-khaki,
	.w3-hover-lime, .w3-hover-orange, .w3-hover-deep-orange, .w3-hover-pink,
	.w3-hover-purple, .w3-hover-deep-purple, .w3-hover-red, .w3-hover-sand,
	.w3-hover-teal, .w3-hover-yellow, .w3-hover-white, .w3-hover-black,
	.w3-hover-grey, .w3-hover-light-grey, .w3-hover-dark-grey,
	.w3-hover-text-amber, .w3-hover-text-aqua, .w3-hover-text-blue,
	.w3-hover-text-light-blue, .w3-hover-text-brown, .w3-hover-text-cyan,
	.w3-hover-text-blue-grey, .w3-hover-text-green,
	.w3-hover-text-light-green, .w3-hover-text-indigo, .w3-hover-text-khaki,
	.w3-hover-text-lime, .w3-hover-text-orange, .w3-hover-text-deep-orange,
	.w3-hover-text-pink, .w3-hover-text-purple, .w3-hover-text-deep-purple,
	.w3-hover-text-red, .w3-hover-text-sand, .w3-hover-text-teal,
	.w3-hover-text-yellow, .w3-hover-text-white, .w3-hover-text-black,
	.w3-hover-text-grey, .w3-hover-text-light-grey,
	.w3-hover-text-dark-grey {
	-webkit-transition: background-color .3s, color .15s, box-shadow .3s,
		opacity 0.3s;
	transition: background-color .3s, color .15s, box-shadow .3s, opacity
		0.3s
}

.w3-sidenav {
	height: 100%;
	width: 200px;
	background-color: #fff;
	position: fixed !important;
	z-index: 1;
	overflow: auto
}

.w3-sidenav
 
a {
	padding: 4px 2px 4px 16px
}

.w3-sidenav
 
a
:hover {
	background-color: #ccc
}

.w3-sidenav
 
a, .w3-dropnav
 
a {
	display: block
}

.w3-sidenav
 
.w3-dropdown-hover
:hover, .w3-sidenav
 
.w3-dropdown-hover
:first-child, .w3-sidenav
 
.w3-dropdown-click
:hover, .w3-dropnav
 
a
:hover {
	background-color: #ccc;
	color: #000
}

.w3-sidenav
 
.w3-dropdown-hover, .w3-sidenav
 
.w3-dropdown-click {
	width: 100%
}

.w3-sidenav
 
.w3-dropdown-hover
 
.w3-dropdown-content, .w3-sidenav
 
.w3-dropdown-click
 
.w3-dropdown-content {
	min-width: 100%
}

@media only screen and (min-width:601px) {
	.w3-col.m1 {
		width: 8.33333%
	}
	.w3-col.m2 {
		width: 16.66666%
	}
	.w3-col.m3, .w3-quarter {
		width: 24.99999%
	}
	.w3-col.m4, .w3-third {
		width: 33.33333%
	}
	.w3-col.m5 {
		width: 41.66666%
	}
	.w3-col.m6, .w3-half {
		width: 49.99999%
	}
	.w3-col.m7 {
		width: 58.33333%
	}
	.w3-col.m8, .w3-twothird {
		width: 66.66666%
	}
	.w3-col.m9, .w3-threequarter {
		width: 74.99999%
	}
	.w3-col.m10 {
		width: 83.33333%
	}
	.w3-col.m11 {
		width: 91.66666%
	}
	.w3-col.m12 {
		width: 99.99999%
	}
}

@media only screen and (min-width:993px) {
	.w3-col.l1 {
		width: 8.33333%
	}
	.w3-col.l2 {
		width: 16.66666%
	}
	.w3-col.l3, .w3-quarter {
		width: 24.99999%
	}
	.w3-col.l4, .w3-third {
		width: 33.33333%
	}
	.w3-col.l5 {
		width: 41.66666%
	}
	.w3-col.l6, .w3-half {
		width: 49.99999%
	}
	.w3-col.l7 {
		width: 58.33333%
	}
	.w3-col.l8, .w3-twothird {
		width: 66.66666%
	}
	.w3-col.l9, .w3-threequarter {
		width: 74.99999%
	}
	.w3-col.l10 {
		width: 83.33333%
	}
	.w3-col.l11 {
		width: 91.66666%
	}
	.w3-col.l12 {
		width: 99.99999%
	}
}

.w3-content {
	max-width: 980px;
	margin: auto
}

.w3-rest {
	overflow: hidden
}

.w3-hide {
	display: none !important
}

.w3-show-block, .w3-show {
	display: block !important
}

.w3-show-inline-block {
	display: inline-block !important
}

@media ( max-width :600px) {
	.w3-modal-content {
		margin: 0 10px;
		width: auto !important
	}
	.w3-modal {
		padding-top: 30px
	}
}

@media ( max-width :768px) {
	.w3-modal-content {
		width: 500px
	}
	.w3-modal {
		padding-top: 50px
	}
}

@media ( min-width :993px) {
	.w3-modal-content {
		width: 900px
	}
}

@media screen and (max-width:600px) {
	.w3-topnav a {
		display: block
	}
	.w3-navbar li:not .w3-opennav {
		float: none;
		width: 100% !
	important
	}
	.w3-navbar li.w3-right {
		float: none !important
	}
}

@media screen and (max-width:600px) {
	.w3-topnav .w3-dropdown-hover .w3-dropdown-content, .w3-navbar .w3-dropdown-click .w3-dropdown-content,
		.w3-navbar .w3-dropdown-hover .w3-dropdown-content {
		position: relative
	}
}

@media screen and (max-width:600px) {
	.w3-topnav, .w3-navbar {
		text-align: center
	}
}

@media ( max-width :600px) {
	.w3-hide-small {
		display: none !important
	}
}

@media ( max-width :992px) and (min-width:601px) {
	.w3-hide-medium {
		display: none !important
	}
}

@media ( min-width :993px) {
	.w3-hide-large {
		display: none !important
	}
}

@media screen and (max-width:992px) {
	.w3-sidenav.w3-collapse {
		display: none
	}
	.w3-main {
		margin-left: 0 !important;
		margin-right: 0 !important
	}
}

@media screen and (min-width:993px) {
	.w3-sidenav.w3-collapse {
		display: block !important
	}
}

.w3-navbar .w3-dropdown-hover, .w3-navbar .w3-dropdown-click {
	position: static
}

.w3-navbar .w3-dropdown-hover:hover, .w3-navbar .w3-dropdown-hover:first-child,
	.w3-navbar .w3-dropdown-click:hover {
	background-color: #ccc;
	color: #000
}

.w3-navbar a, .w3-topnav a, .w3-sidenav a, .w3-dropdown-content a,
	.w3-accordion-content a, .w3-dropnav a {
	text-decoration: none !important
}

.w3-navbar .w3-opennav.w3-right {
	float: right !important
}

.w3-topnav {
	padding: 8px 8px
}

.w3-topnav a {
	padding: 0 8px;
	border-bottom: 3px solid transparent;
	-webkit-transition: border-bottom .3s;
	transition: border-bottom .3s
}

.w3-topnav a:hover {
	border-bottom: 3px solid #fff
}

.w3-topnav .w3-dropdown-hover a {
	border-bottom: 0
}

.w3-opennav, .w3-closenav {
	color: inherit
}

.w3-opennav:hover, .w3-closenav:hover {
	cursor: pointer;
	opacity: 0.8
}

.w3-btn, .w3-btn-floating, .w3-dropnav a, .w3-btn-floating-large,
	.w3-btn-block, .w3-hover-shadow, .w3-hover-opacity,
	.w3-hover-opacity-off, .w3-navbar a, .w3-sidenav a, .w3-pagination li a,
	.w3-hoverable tbody tr, .w3-hoverable li, .w3-accordion-content a,
	.w3-dropdown-content a, .w3-dropdown-click:hover, .w3-dropdown-hover:hover,
	.w3-opennav, .w3-closenav, .w3-closebtn, .w3-hover-amber,
	.w3-hover-aqua, .w3-hover-blue, .w3-hover-light-blue, .w3-hover-brown,
	.w3-hover-cyan, .w3-hover-blue-grey, .w3-hover-green,
	.w3-hover-light-green, .w3-hover-indigo, .w3-hover-khaki,
	.w3-hover-lime, .w3-hover-orange, .w3-hover-deep-orange, .w3-hover-pink,
	.w3-hover-purple, .w3-hover-deep-purple, .w3-hover-red, .w3-hover-sand,
	.w3-hover-teal, .w3-hover-yellow, .w3-hover-white, .w3-hover-black,
	.w3-hover-grey, .w3-hover-light-grey, .w3-hover-dark-grey,
	.w3-hover-text-amber, .w3-hover-text-aqua, .w3-hover-text-blue,
	.w3-hover-text-light-blue, .w3-hover-text-brown, .w3-hover-text-cyan,
	.w3-hover-text-blue-grey, .w3-hover-text-green,
	.w3-hover-text-light-green, .w3-hover-text-indigo, .w3-hover-text-khaki,
	.w3-hover-text-lime, .w3-hover-text-orange, .w3-hover-text-deep-orange,
	.w3-hover-text-pink, .w3-hover-text-purple, .w3-hover-text-deep-purple,
	.w3-hover-text-red, .w3-hover-text-sand, .w3-hover-text-teal,
	.w3-hover-text-yellow, .w3-hover-text-white, .w3-hover-text-black,
	.w3-hover-text-grey, .w3-hover-text-light-grey,
	.w3-hover-text-dark-grey {
	-webkit-transition: background-color .3s, color .15s, box-shadow .3s,
		opacity 0.3s;
	transition: background-color .3s, color .15s, box-shadow .3s, opacity
		0.3s
}

.w3-sidenav {
	height: 100%;
	width: 200px;
	background-color: #fff;
	position: fixed !important;
	z-index: 1;
	overflow: auto
}

.w3-sidenav a {
	padding: 4px 2px 4px 16px
}

.w3-sidenav a:hover {
	background-color: #ccc
}

.w3-sidenav a, .w3-dropnav a {
	display: block
}

.w3-sidenav .w3-dropdown-hover:hover, .w3-sidenav .w3-dropdown-hover:first-child,
	.w3-sidenav .w3-dropdown-click:hover, .w3-dropnav a:hover {
	background-color: #ccc;
	color: #000
}

.w3-sidenav .w3-dropdown-hover, .w3-sidenav .w3-dropdown-click {
	width: 100%
}

.w3-sidenav .w3-dropdown-hover .w3-dropdown-content, .w3-sidenav .w3-dropdown-click .w3-dropdown-content
	{
	min-width: 100%
}

@media only screen and (min-width:601px) {
	.w3-col
.m1 {
		width: 8.33333%
	}
	.w3-col
.m2 {
		width: 16.66666%
	}
	.w3-col
.m3, .w3-quarter {
		width: 24.99999%
	}
	.w3-col
.m4, .w3-third {
		width: 33.33333%
	}
	.w3-col
.m5 {
		width: 41.66666%
	}
	.w3-col
.m6, .w3-half {
		width: 49.99999%
	}
	.w3-col
.m7 {
		width: 58.33333%
	}
	.w3-col
.m8, .w3-twothird {
		width: 66.66666%
	}
	.w3-col
.m9, .w3-threequarter {
		width: 74.99999%
	}
	.w3-col
.m10 {
		width: 83.33333%
	}
	.w3-col
.m11 {
		width: 91.66666%
	}
	.w3-col
.m12 {
		width: 99.99999%
	}
}

@media only screen and (min-width:993px) {
	.w3-col
.l1 {
		width: 8.33333%
	}
	.w3-col
.l2 {
		width: 16.66666%
	}
	.w3-col
.l3, .w3-quarter {
		width: 24.99999%
	}
	.w3-col
.l4, .w3-third {
		width: 33.33333%
	}
	.w3-col
.l5 {
		width: 41.66666%
	}
	.w3-col
.l6, .w3-half {
		width: 49.99999%
	}
	.w3-col
.l7 {
		width: 58.33333%
	}
	.w3-col
.l8, .w3-twothird {
		width: 66.66666%
	}
	.w3-col
.l9, .w3-threequarter {
		width: 74.99999%
	}
	.w3-col
.l10 {
		width: 83.33333%
	}
	.w3-col
.l11 {
		width: 91.66666%
	}
	.w3-col
.l12 {
		width: 99.99999%
	}
}

.w3-content {
	max-width: 980px;
	margin: auto
}

.w3-rest {
	overflow: hidden
}

.w3-hide {
	display: none !important
}

.w3-show-block, .w3-show {
	display: block !important
}

.w3-show-inline-block {
	display: inline-block !important
}

@media ( max-width :600px) {
	.w3-modal-content {
		margin: 0 10px;
		width: auto !important
	}
	.w3-modal {
		padding-top: 30px
	}
}

@media ( max-width :768px) {
	.w3-modal-content {
		width: 500px
	}
	.w3-modal {
		padding-top: 50px
	}
}

@media ( min-width :993px) {
	.w3-modal-content {
		width: 900px
	}
}

@media screen and (max-width:600px) {
	.w3-topnav a {
		display: block
	}
	.w3-navbar li:not .w3-opennav {
		float: none;
		width: 100% ! important
	}
	.w3-navbar li .w3-right {
		float: none !important
	}
}

@media screen and (max-width:600px) {
	.w3-topnav
 
.w3-dropdown-hover
 
.w3-dropdown-content, .w3-navbar
 
.w3-dropdown-click
 
.w3-dropdown-content, .w3-navbar
 
.w3-dropdown-hover
 
.w3-dropdown-content {
		position: relative
	}
}

@media screen and (max-width:600px) {
	.w3-topnav, .w3-navbar {
		text-align: center
	}
}

/*화면 축소시 중 메뉴가 사라지는 크기 지정  */
@media ( max-width :1200px) 

{
	.w3-hide-small {
		display: none !important
	}
}

@media ( max-width :1200px) and (min-width:992px) {
	.w3-hide-medium {
		display: none !important
	}
}

@media ( min-width :1993px) {
	.w3-hide-large {
		display: none !important
	}
}

@media screen and (max-width:1992px) {
	.w3-sidenav
.w3-collapse {
		display: none
	}
	.w3-main {
		margin-left: 0 !important;
		margin-right: 0 !important
	}
}

@media screen and (min-width:1993px) {
	.w3-sidenav
.w3-collapse {
		display: block !important
	}
}

.w3-top, .w3-bottom {
	position: fixed;
	width: 100%;
	z-index: 1
}

.w3-top {
	top: 0;
	background:  #494949 url(../images/banner.png);

}

.w3-bottom {
	bottom: 0
}

.w3-overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2
}

.w3-left {
	float: left !important
}

.w3-right {

	margin: 10px 10px 8px 0;
}

.w3-medium {
	font-size: 15px !important
}

.w3-large {
	font-size: 18px !important
}

/***********************puls*************************************/
.middle {
	margin: 0 0 0 150px;
}

.w3-middle {
	padding: 18px 16px;
	margin: 0 70px 0 70px;
	font-size: 15px;
}

.w3-mright {
	float: right !important;
}

.smenu {
	margin: 10px 100px;
}

.w3-middle-home {
    padding: 21px 45px;
	font-size: 23px;
	    margin: 0 100px 0 150px;
}

.smenu_a {
	margin: 10px 100px;
}

.w3-navbar li a:hover {
	color: #94c2e9;
}