/* Basic */
a {
	-moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: border-color 0.2s ease-in-out, color 0.2s
		ease-in-out;
	-ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
	color: rgba(39, 40, 51, 0.965);
	text-decoration: none;
	text-decoration: none !important;
}

a:hover {
	/* 	color: #e44c65 !important; */
	border-bottom-color: transparent;
}

h1 {
	color: #887e7e;
	font-weight: 300;
	line-height: 1em;
	margin: 0 0 1em 0;
}

h1 a {
	color: inherit;
	border: 0;
}

/* Form */
form {
	margin: 0 0 0 0;
}

label {
	color: #5a5858;
	display: block;
	font-size: 17px;
	font-weight: 300;
	margin: 0 0 1em 0;
}

input[type="text"], input[type="password"], input[type="email"], select,
	textarea {
	

	-ms-appearance: none;
	appearance: none;
	-moz-transition: border-color 0.2s ease-in-out;
	-webkit-transition: border-color 0.2s ease-in-out;
	-ms-transition: border-color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out;
	background: #fdfdfd;
	/* border-radius: 10px; */
	border: solid 3px rgb(243, 238, 238);
	color: #887e7e;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	 width: 100%;
}

input[type="text"]:invalid, input[type="password"]:invalid, input[type="email"]:invalid,
	select:invalid, textarea:invalid {
	box-shadow: none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus,
	select:focus, textarea:focus {
	border-color: #e44c65;
}

.select-wrapper {
	text-decoration: none;
	display: block;
	position: relative;
}

.select-wrapper:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.select-wrapper:before {
	color: rgba(255, 255, 255, 0.3);
	content: '\f078';
	display: block;
	height: 3em;
	line-height: 3em;
	pointer-events: none;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 3em;
}

.select-wrapper select::-ms-expand {
	display: none;
}

input[type="text"], input[type="password"], input[type="email"], select
	{
	height: 3em;
}

textarea {
	padding: 0.75em 1em;
}

select option {
	background-color: #1c1d26;
	color: #ffffff;
}

select:focus::-ms-value {
	background: transparent;
}

input[type="checkbox"], input[type="radio"] {
	-moz-appearance: none;
	
	-ms-appearance: none;
	appearance: none;
	display: block;
	float: left;
	margin-right: -2em;

	width: 1em;
	
}

input[type="checkbox"]+label, input[type="radio"]+label {
	/* text-decoration: none; */
	color: black;
	cursor: pointer;
	display: inline-block;
	font-size: 1.1em;
	/* font-weight: 100; */
	padding-left: 2.55em;
	padding-right: 0.75em;
	position: relative;
}

input[type="checkbox"]+label:before, input[type="radio"]+label:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

input[type="checkbox"]+label:before, input[type="radio"]+label:before {
	border-radius: 4px;
	border: solid 1px black;
	content: '';
	display: inline-block;
	height: 1.8em;
	left: 0;
	line-height: 1.725em;
	position: absolute;
	text-align: center;
	top: 0;
	width: 1.8em;
}

input[type="checkbox"]:checked+label:before, input[type="radio"]:checked+label:before
	{
	background: white;
	color: black;
	content: '\f00c';
}

input[type="checkbox"]:focus+label:before, input[type="radio"]:focus+label:before
	{
	border-color: #e44c65;
}

input[type="checkbox"]+label:before {
	border-radius: 4px;
}

input[type="radio"]+label:before {
	border-radius: 100%;
}

::-webkit-input-placeholder {
	color: rgba(193, 193, 193, 1) !important;
	opacity: 1.0;
}

:-moz-placeholder {
	color: rgba(193, 193, 193, 1) !important;
	opacity: 1.0;
}

::-moz-placeholder {
	color: rgba(193, 193, 193, 1) !important;
	opacity: 1.0;
}

:-ms-input-placeholder {
	color: rgba(193, 193, 193, 1) !important;
	opacity: 1.0;
}

.formerize-placeholder {
	color: rgba(193, 193, 193, 1) !important;
	opacity: 1.0;
}

/* Table */
.table-wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
}

table {
	width: 100%;
	color: black;
}

table tbody tr {
	border: solid 1px #b3a7a7;
	border-left: 0;
	border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
	background-color: #fdfdfd;
}

table td {
	padding: 1em;
}

table th {
	color: rgba(45, 39, 39, 0.3);
	font-size: 0.9em;
	font-weight: 300;
	padding: 0 0.75em 0.75em 0.75em;
	text-align: left;
}

table thead {
	border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}

table tfoot {
	border-top: solid 1px rgba(255, 255, 255, 0.3);
}

table.alt {
	border-collapse: separate;
}

table.alt tbody tr td {
	border: solid 1px rgba(45, 39, 39, 0.3);
	border-left-width: 0;
	border-top-width: 0;
}

table.alt tbody tr td:first-child {
	border-left-width: 1px;
}

table.alt tbody tr:first-child td {
	border-top-width: 1px;
}

table.alt thead {
	border-bottom: 0;
}

table.alt tfoot {
	border-top: 0;
}

/* Button */
input[type="submit"], input[type="reset"], input[type="button"], .button
	{
	moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s
		ease-in-out, box-shadow 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s
		ease-in-out, box-shadow 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s
		ease-in-out, box-shadow 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
		box-shadow 0.2s ease-in-out;
	background-color: transparent;
	border-radius: 4px;
	/* border-color: #5480f1 !important; */
	border: solid 0px;
	box-shadow: inset 0 0 0 1px rgba(204, 162, 162, 0.3);
	color: #d2cbcb !important;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	height: 3em;
	line-height: 3em;
	padding: 0 2.25em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

input[type="submit"]:hover, input[type="submit"]:active, input[type="reset"]:hover,
	input[type="reset"]:active, input[type="button"]:hover, input[type="button"]:active,
	.button:hover, .button:active {
	box-shadow: inset 0 0 0 1px #e44c65;
	color: #e44c65 !important;
}

input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active,
	.button:active {
	background-color: rgba(228, 76, 101, 0.15);
}

input[type="submit"].icon:before, input[type="reset"].icon:before, input[type="button"].icon:before,
	.button.icon:before {
	margin-right: 0.5em;
}

input[type="submit"].fit, input[type="reset"].fit, input[type="button"].fit,
	.button.fit {
	display: block;
	margin: 0 0 1em 0;
	width: 100%;
}

input[type="submit"].small, input[type="reset"].small, input[type="button"].small,
	.button.small {
	font-size: 0.8em;
}

input[type="submit"].big, input[type="reset"].big, input[type="button"].big,
	.button.big {
	font-size: 1.35em;
}

input[type="submit"].special, input[type="reset"].special, input[type="button"].special,
	.button.special {
	background-color: #e44c65;
	box-shadow: none;
	color: #ffffff !important;
}

input[type="submit"].special:hover, input[type="reset"].special:hover,
	input[type="button"].special:hover, .button.special:hover {
	background-color: #e76278;
}

input[type="submit"].special:active, input[type="reset"].special:active,
	input[type="button"].special:active, .button.special:active {
	background-color: #e13652;
}

input[type="submit"].disabled, input[type="submit"]:disabled, input[type="reset"].disabled,
	input[type="reset"]:disabled, input[type="button"].disabled, input[type="button"]:disabled,
	.button.disabled, .button:disabled {
	background-color: rgba(228, 76, 101, 0.48) !important;
	box-shadow: none !important;
	color: rgba(23, 24, 32, 0.95) !important;
	cursor: default;
	opacity: 0.25;
}

/* Header */
#page-wrapper {
	padding-top: 3.5em;
}

#header {
	background: rgba(255, 255, 255, 0.965);
	box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
	cursor: default;
	height: 3.5em;
	left: 0;
	line-height: 3.5em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

#header h1 {
	height: inherit;
	left: 7em;
	line-height: inherit;
	position: absolute;
	color: rgba(39, 40, 51, 0.965);
	font-size: 20px;
}

#header nav {
	position: absolute;
	left: 48em;
}

#header nav a:hover {
	color: #e44c65 !important;
	border-bottom-color: transparent;
}

#header sign {
	position: absolute;
	right: 7em;
}

#header sign ul li {
	display: inline-block;
	margin-left: 1em;
}

#header nav ul li {
	display: inline-block;
	padding: 0em 5em 0em 0em;
}

#header nav ul li a, #header nav ul li span {
	border: 0;
	color: rgba(39, 40, 51, 0.965);
	display: inline-block;
	height: inherit;
	line-height: inherit;
	outline: 0;
	font-weight: 700;
	font-family: 'Hanna';
	font-size: 17px;
	text-decoration: none !important;
}

#header sign ul li a.button, #header sign ul li span.button {
	height: 2em;
	line-height: 2em;
	padding: 0 1.25em;
}

#header sign ul li a:not (.button ):before, #header sign ul li span:not 
	 (.button
	 ):before {
	margin-right: 0.5em;
}

#header nav ul li.active>a, #header nav ul li.active>span {
	color: #e44c65;
}

#header nav ul li>ul {
	display: none;
}

body{
	 background-color: white;
}

body.landing #page-wrapper {
	padding-top: 0;
}

body.landing #header {
	background: transparent;
	box-shadow: none;
	position: absolute;
}

/* Footer */
#footer {
	background: #545458;
	padding: 1em 0;
	text-align: center;
}

#footer .icons .icon.alt {
	text-decoration: none;
}

#footer .icons .icon.alt:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

#footer .icons .icon.alt:before {
	color: #272833 !important;
	text-shadow: 1px 0 0 rgba(255, 255, 255, 0.5), -1px 0 0
		rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5), 0 -1px 0
		rgba(255, 255, 255, 0.5);
}

#footer .copyright {
	color: #ffffff;
	font-size: 0.7em;
	line-height: 1em;
	padding: 0;
	text-align: center;
}

#footer .copyright li {
	border-left: solid 1px rgba(255, 255, 255, 0.3);
	display: inline-block;
	list-style: none;
	margin-left: 1.5em;
	padding-left: 1.5em;
}

#footer .copyright li a {
	color: inherit;
}

#footer .service_user {
	color: #ffffff;
	font-size: 10px;
	line-height: 1em;
	margin: 0.5em 0 0 0;
	padding: 0;
	text-align: center;
}

#footer .service_user li {
	border-left: solid 1px rgba(255, 255, 255, 0.3);
	display: inline-block;
	list-style: none;
	margin-left: 1.5em;
	padding-left: 1.5em;
}

#footer .service_user li:first-child {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
}

#footer .service_user li a {
	color: inherit;
}

/*----------------------add footer----------------------------------*/
.skhulogo {
	float: left;
	padding: 10px 20px 0px 260px;
}

.skhu {
	font-size: 10px;
	color: #ffffff;
	margin-top: 5px;
	font-family: 'Nanum Gothic';
}

/*--------------------notice----------------------------*/
.notice_b {
	font-size: 11px;
	padding: 10px 120px 0px 120px;
}
/*--------------------customer----------------------------*/
.customer-tab-wrap {
	position: relative;
	width: 100%;
	height: 57px;
	border-bottom: 1px solid #dddddb;
	margin-bottom: 30px;
}

.customer-tab {
	position: absolute;
	width: 384px;
	height: 57px;
	left: 0;
	right: 0;
	top: 1px;
	text-align: center;
	margin: 0 auto;
}

#content .customer-tab .premium-btn {
	float: left;
	width: 192px;
	height: 56px;
	padding: 20px;
	background: #fff;
	border-bottom: 1px solid #dddddb;
	border-radius: 0px;
}

.premium-btn {
	line-height: 13px;
	font-weight: normal;
	color: #fff;
	background-color: #d60036;
	border-radius: 2px;
	padding: 10px 15px;
	cursor: pointer;
}

.customer-tab-wrap button {
	border: none;
	outline: none;
}

#content .select .premium-btn {
	border-bottom: 2px solid #d60036;
}

#content .premium-btn>span {
	font-weight: 600;
	padding: 2px 0 2px 27px;
	color: #494949;
}

#content .premium-btn>span:hover {
	padding: 2px 0 2px 27px;
	color: #e44c65;
	font-weight: 600;
}

.pagenation {
	text-align: center;
}
/**************home**********************/
div.home_css {
	width: 1000px;
	height: 697px;
	padding: 40px 260px 0px 260px;
	margin: 40px 0px 41px 80px;

}
/************join*************************/
div.join_css {
	width: 1000px;
	height: 697px;
	padding: 40px 260px 0px 260px;
	margin: 40px 0px 41px 80px;
	border: solid 1px #eee;
}

.buttoncss {
	padding: 40px 0px 52px 105px;
}

.join_logo {
	padding: 20px 55px 30px 0px;
	font-size: 20px;
}
.print{
	height:40px;
	    padding: 15px;
}
/************login*************************/
div.login_css {
	width: 350px;
	height: 445px;
	padding: 100px 20px 0px 20px;
	margin: 70px 0px 10px 470px;
	border: solid 1px #eee;
}

.login_buttoncss {
	padding: 20px 55px 0px 55px;
}



#logo {
	margin: 0px 0px 20px 0px;
	font-size: 16px;
}

.service_user {
	color: #ffffff;
	font-size: 10px;
	line-height: 1em;
	margin: 0.5em 0 0 0;
	padding: 0;
	text-align: center;
}

.login_user li:first-child {
	border-left: 0;
	/* margin-left: 0; */
	margin: 0px 0px 0px 145px;
	/* padding-left: 0; */
}

.login_user li {
	/* border-left: solid 1px #dddddb; */
	display: inline-block;
	/* list-style: inherit; */
	/* margin-left: 1.5em; */
	/* padding-left: 1.5em; */
	font-size: 10px;
}

.login_user li a {
	color: inherit;
}

/************background****************/
#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;                        
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}
/********************board************************/
div.notice_css {

	width: 1000px;
	height: 697px;
	margin: 40px 0px 41px 80px;
	
}
div.qna_css {

	width: 1000px;
	height: 697px;

	margin: 40px 0px 41px 80px;


}
.form-inline
{
	height:70px;
}
div.search{

	width: 1000px;
	height: 697px;
	margin: 40px 0px 41px 80px;

}